@import "../_vars";
@import "../mixins";
.aside {
    margin-top: -10px;
    display: flex;
    flex-direction: column;

 
 

    &__title {
        margin-bottom: 21px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #333333;
    }

    &__sub-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #666666;
    }

    .price {
        margin-right: 26px;

        &__title {
            margin-bottom: 4px;
        }

        &__inputs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        &__label {
            display: flex;
            align-items: center;

            span {
                margin-right: 9px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #666666;
            }
        }

        &__input {
            height: 30px;
            width: 86px;
            padding-left: 13px;
            border: 1px solid #999999;
            border-radius: 2px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #666666;
            transition: border 0.3s linear, background-color 0.3s linear;

            &:focus {
                border: 2px solid #7033AC;
                outline: none;

            }

            &:hover {
                background: #F8EFFF;
                border: 2px solid #A65CF0;
            }

            &:active {
                border: 2px solid #A65CF0;

            }
        }

        .noUi {
            &-target {
                background: #EAEAEA;
                border: none;
                border-radius: 3px;
                height: 3px;
            }

            &-connect {
                background: #A65CF0;
            }

            &-handle {
                cursor: pointer;
                box-shadow: none;
                border: none;
                background: transparent;
                width: 13px;
                height: 13px;
                right: -7px;
                top: 4px;
                transition: border 0.3s linear;

                &::after {
                    top: -9px;
                    left: 0px;
                    background: transparent;
                    border: 6px solid transparent;
                    border-bottom: 13px solid #A65CF0;
                    border-radius: 2px;
                }

                &::before {
                    display: none;
                }

                &:focus {
                    &::after {
                        border-bottom-color: #7033AC;
                    }

                    outline: none;

                }

                &:hover {
                    &::after {
                        border-bottom-color: #A65CF0;
                    }
                }

                &:active {
                    &::after {
                        border-bottom-color: #A65CF0;
                    }
                }

            }





        }
    }

    &__middle {
        margin-bottom: 89px;
    }

    &__block {
        &:not(:last-child) {
            margin-bottom: 25px;
        }

        margin-right: 32px;
    }

    &__card {
        margin-right: 32px;
        padding: 0;
    }

    .card {
        width: 100%;
        background: #333333;

        &__img {
            border-radius: 10px 10px 0px 0px;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px;
        }

        &__title {
            font-family: 'PlayfairDisplay';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #D5B986;
        }



        &__text {
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
            color: #999999;
        }

        &__link {
            position: relative;
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: #A65CF0;
            transition: color 0.3s linear;

            &::before {
                content: '';
                position: absolute;
                border: 2px solid #A65CF0;
                bottom: 1px;
                right: 175px;
                left: 1px;
                opacity: 0;
                transition: opacity 0.3s linear, right 0.3s linear, border-color 0.3s linear;
            }

            &:focus {
                outline: none;
                color: #A65CF0;

                &::before {
                    opacity: 1;
                    right: 27px;
                }
            }

            &:hover {
                color: #A65CF0;

                &::before {
                    opacity: 1;
                    right: 27px;
                }
            }

            &:active {
                color: #7033AC;

                &::before {
                    border-color: #7033AC;
                    opacity: 1;
                    right: 27px;
                }
            }

            svg {
                height: 22px;
                width: 22px;
            }
        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item {
            &__check {
                display: flex;

            }

            &__label-check {
                position: relative;
                padding-left: 32px;
            }

            &__checkbox {
                display: none;
            }

            &__checkbox+span {
                cursor: pointer;
                margin: 0;
                position: absolute;
                top: 3.5px;
                left: 0;
                width: 20px;
                height: 20px;
                border: 1px solid #999999;
                border-radius: 1px;
            }

            &__checkbox+span::before {
                z-index: -1;
                content: url("./img/chekbox-big.svg");
                position: absolute;
                bottom: -7px;
                left: -1px;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }

            &__checkbox:checked+span::before {
                opacity: 1;
            }
        }
    }


}