@import "../_vars";
@import "../mixins";

.highrait {
    margin-bottom: 70px;

    &__list {
        display: grid;
        margin-bottom: 32px;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }

    .card {
        min-height: 420px;

        &,
        &::before,
        &::after {
            box-sizing: border-box;
        }

        &__star {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #FF862F;
        }

        &__img {
            align-self: center;
            transform: scale(1.1);
            margin-bottom: 16px;
        }

        &__title {
            margin-bottom: 22px;
        }

        &__price {
            margin-bottom: 24px;

        }
    }

    &__btn-block {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__btn.btn {
        background: #A65CF0;
        color: #FFFFFF;
        padding: 20px 35px;
    }
}