@import "_vars";
@import "mixins";
@import "settings";

.similar-goods {
    margin-bottom: 70px;

    .container {
        position: relative;

    }

    &__title.title {
        margin-bottom: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: #333333;
    }


    .swiper-button {

        &-next {
            top: 16px;
            right: 3px;


            svg {
                position: absolute;
                width: 32px;
                height: 32px;
            }

            &::after {
                color: transparent;
            }
        }

        &-prev {
            top: 16px;
            right: 48px;
            left: unset;

            svg {
                position: absolute;
                width: 32px;
                height: 32px;
                transform: rotate(180deg);
            }


            &::after {
                color: transparent;
            }
        }
    }

    .card {
        min-height: 420px;
        width: 296px;

        &,
        &::before,
        &::after {
            box-sizing: border-box;
        }

        &__star {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #FF862F;
        }

        &__img {
            align-self: center;
            transform: scale(1.1);
            margin-bottom: 16px;
        }

        &__title {
            margin-bottom: 22px;
        }

        &__price {
            margin-bottom: 24px;

        }
    }

}