@import "mixins";
@import "_vars";
@import "grid";


.specoffs {
    margin-bottom: 70px;

    .container {
        position: relative;
        overflow: hidden;
    }

    &__card {
        height: 100%;
        margin: 0;

        &-big {
            width: 624px;
        }

        &-mini {
            width: 296px;

        }


    }

    .card {

        position: relative;

        &,
        &::before,
        &::after {
            box-sizing: border-box;
        }

        &__bottom {
            width: 100%;
            height: 99px;
            display: flex;
            justify-content: space-between;

            img {
                margin-bottom: 0;
            }


        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__discount {
            display: flex;
            align-items: center;
            position: absolute;
            padding: 0 19px;
            left: 0px;
            top: 30px;
            min-width: 92px;
            min-height: 34px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            text-align: center;

            /* white */

            color: #FFFFFF;
            background-repeat: no-repeat;
            background-image: url('./img/specoffs__yellow-bg.svg');

        }

        &__img {
            margin-bottom: 20px;
            align-self: center;
        }

        &__title {
            margin-bottom: 22px;

        }



        &__price {
            margin-bottom: 23px;

            &-current {
                margin-right: 30px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                color: #FF862F;
            }

            &-old {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                text-decoration-line: line-through;
                color: #999999;
            }
        }

        &__btn {}
    }

    .swiper {
        &-wrapper {
            display: grid;
            grid-template-columns: repeat(8, 296px);
            gap: 32px;
        }

        &-slide {
            width: unset !important;

            &:nth-child(5) {
                grid-column: span 2;
            }

            &:nth-child(2) {
                grid-column: span 2;
            }
        }

        &-button {

            &-next {
                top: 16px;
                right: 3px;


                svg {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                }

                &::after {
                    color: transparent;
                }
            }

            &-prev {
                top: 16px;
                right: 48px;
                left: unset;

                svg {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    transform: rotate(180deg);
                }


                &::after {
                    color: transparent;
                }
            }
        }
    }
}